.nav_planet_fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.nav_planet_absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.nav_planet {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 5%;
  z-index: 10;
}

.nav_planet .breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_planet .breadcrumbs ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav_planet .breadcrumbs ul * {
  color: var(--gray-light);
}

.nav_planet .breadcrumbs ul li:hover *,
.nav_planet .breadcrumbs ul li:hover {
  color: white;
  transition: 0.3s;
}