.card {
  position: relative;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--gray-light);
  background-color: transparent;
}

.card:hover .planet {
  scale: 1.05;
}

.card:hover .planet::before {
  height: 180%;
}

.card:hover .planet::after {
  height: 300%;
}

.card .content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding: 20px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .card {
    height: 120px;
  }
}